<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static.highsnobiety.com/thumbor/x8Z6GRqmudB24u2r1iorq-UVBtw=/1600x1067/static.highsnobiety.com/wp-content/uploads/2019/03/14131429/iceberg-motorsport-sneakers-ss19-04.jpg"
      alt="...">
      <div class="caption">
        <h3>Sneaker1</h3>
          <p>Multicolored Sneakers</p>

            <div class ="clearfix">
          <div class ="price">R600,00</div>
         <a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://static.r-shop.gr/media/catalog/product/cache/1/thumbnail/2000x2667/9df78eab33525d08d6e5fb8d27136e95/w/_/w_5715300644-00004.jpg"
      alt="...">
      <div class="caption">
        <h3>Sneaker2</h3>
        <p>Trendy White Sneakers</p>

        <div class ="clearfix">
          <div class ="price">R800,00</div>
          <a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://www.goodfellaspawnshop.com/wp-content/uploads/2018/08/Air-Jordan-1.jpg"
      <div class="caption">
        <h3>Sneaker3</h3>
        <p>Jordan Trendy Sneakers</p>

        <div class ="clearfix">
          <div class ="price">R1000,00</div>
          <a href="#" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
